.faq{
    padding-top: 150px ;
    text-align: center;
}

.faq h2{
    font-size: 50px;
}

.faq h2 span{
    background: linear-gradient(
        to right,
        #ff5e00 0%,
        #fda103 40%,
        #ff6a00 70%,
        #fb7303 100%
    );

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.faq-text {
    text-align: center;
    width: 800px;
    margin: auto;
    line-height: 1.6;
    margin-bottom: 20px;
    color: hsl(0, 0%, 80% , 1);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

.faq-container{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    align-items: flex-start;
    gap:40px
}

.faq-card{
    width: 500px;
    text-align: left;
    border-bottom: 1px solid #ff6b00;
    padding-bottom: 20px ;
    margin-bottom: 30px;
    margin-right: 100px;
}

.faq-heading {
    display: flex;
    align-items: flex-start;
    gap: 15px;
} 

.faq-heading span {
    font-size: 40px;
    font-weight: 500;
    margin-top: 10px;
     background: linear-gradient(
        to right,
        #ff5e00 0%,
        #fda103 40%,
        #ff6a00 70%,
        #fb7303 100%
    );

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.faq-card p {
    margin-left: 80px;
    font-size: 12px;
    color: hsl(0, 0%, 80% , 1);
    font-family: Arial, Helvetica, sans-serif;
}

.faq-card-left {
    margin-left:100px
}
